PUERTO_BROKER=6009
MAGIC_NUMBER=TALL_GRASS
RUTA_LOG=/home/utnso/gamecard.log
BLOCKS=1024
ID_SUSCRIPCION_GET=0
TIEMPO_DE_RETARDO_OPERACION=2
IP_BROKER=127.0.0.1
MI_PUERTO=4446
ID_SUSCRIPCION_NEW=0
PUNTO_MONTAJE_TALLGRASS=/home/utnso
BLOCKS_SIZE=64
ID_SUSCRIPCION_CATCH=0
TIEMPO_DE_REINTENTO_CONEXION=10
MI_IP=127.0.0.1
TIEMPO_DE_REINTENTO_OPERACION=10
