ALPHA=0.5
PUERTO_TEAM=4454
RETARDO_CICLO_CPU=2
ESTIMACION_INICIAL=5
ID_LOCALIZED=0
POSICIONES_ENTRENADORES=[2|3,6|5,9|9,9|2,2|9]
ID_CAUGHT=0
TIEMPO_RECONEXION=30
ALGORITMO_PLANIFICACION=SJF-CD
POKEMON_ENTRENADORES=[]
ID_APPEARED=0
PUERTO=6009
IP_TEAM=127.0.0.1
QUANTUM=1
LOG_FILE=team2.log
IP=127.0.0.1
OBJETIVOS_ENTRENADORES=[Vaporeon,Jolteon,Flareon,Umbreon,Espeon]
