ALPHA=0.5
PUERTO_TEAM=4444
RETARDO_CICLO_CPU=5
ESTIMACION_INICIAL=5
ID_LOCALIZED=0
POSICIONES_ENTRENADORES=[2|3,6|5,9|9,9|2,2|9]
ID_CAUGHT=0
TIEMPO_RECONEXION=30
ALGORITMO_PLANIFICACION=RR
POKEMON_ENTRENADORES=[]
ID_APPEARED=0
PUERTO=11675
IP_TEAM=127.0.0.1
QUANTUM=2
IP=2.tcp.ngrok.io
OBJETIVOS_ENTRENADORES=[Vaporeon,Jolteon,Flareon,Umbreon,Espeon]
