PUERTO_TEAM=4444
ID_LOCALIZED=0
POSICIONES_ENTRENADORES=[2|3,6|5,9|9,9|2,2|9]
ID_CAUGHT=0
TIEMPO_RECONEXION=20
POKEMON_ENTRENADORES=[]
ID_APPEARED=0
PUERTO=6009
IP_TEAM=127.0.0.1
IP=127.0.0.1
OBJETIVOS_ENTRENADORES=[Vaporeon,Jolteon,Flareon,Umbreon,Espeon]
RETARDO_CICLO_CPU=1
ALGORITMO_PLANIFICACION=FIFO
QUANTUM=1
ESTIMACION_INICIAL=5
ALPHA=0.5